<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fashop - eCommerce Website</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" th:href="@{/images/logo/Fashion_SHOP-removebg-preview.png}" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" th:href="@{/css/style-prefix.css}">

  <!--
    - google font link
  -->
  <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
  <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
  <link th:href="@{https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap}"
        rel="stylesheet">
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
  <link th:href="@{https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css}" rel="stylesheet">

</head>

<body>
<style>
a{
  text-decoration: none;

}
.header-main .container .header-user-actions .log{
  color: gray;


}



</style>



<div class="overlay" data-overlay></div>






<!--
  - MODAL
-->

<div class="modal" data-modal>
  <div class="modal-close-overlay" data-modal-overlay></div>
  <div class="modal-content">
    <button class="modal-close-btn" data-modal-close>
      <ion-icon name="close-outline"></ion-icon>
    </button>
  </div>

</div>











<!--
  - NOTIFICATION TOAST
-->

<div class="notification-toast" data-toast>

  <button class="toast-close-btn" data-toast-close>
    <ion-icon name="close-outline"></ion-icon>
  </button>

  <div class="toast-banner">
    <img th:src="@{/images/téléchargement-removebg-preview.png}" alt="Rose Gold Earrings" width="80" height="70">
  </div>

  <div class="toast-detail">

    <p class="toast-message">
      Someone in new just bought
    </p>

    <p class="toast-title">
      Rose Gold Earrings
    </p>

    <p class="toast-meta">
      <time datetime="PT2M">2 Minutes</time> ago
    </p>

  </div>

</div>





<!--
  - HEADER
-->

<header>

  <div class="header-top">

    <div class="container">

      <ul class="header-social-container">

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>
      </ul>

      <div class="header-alert-news">
        <p>
          <b>Free Shipping</b>
          This Week Order Over - $55
        </p>
      </div>

      <div class="header-top-actions">

        <select name="currency">

          <option value="usd">USD &dollar;</option>
          <option value="eur">EUR &euro;</option>

        </select>

        <select name="language">

          <option value="en-US">English</option>
          <option value="es-ES">Espa&ntilde;ol</option>
          <option value="fr">Fran&ccedil;ais</option>

        </select>

      </div>

    </div>

  </div>
  <div class="header-main">

    <div class="container">

      <a href="#" class="header-logo">
        <img th:src="@{/photo/logo/logo-removebg-preview.png}" width="110" height="110">
      </a>
      <span id="logo-web" >SHOPELECTRO</span>
      <div class="header-search-container">

        <input type="search" name="search" class="search-field" placeholder="Enter your product name...">

        <button class="search-btn">
          <ion-icon name="search-outline"></ion-icon>
        </button>

      </div>




      <div class="header-user-actions">

        <button class="action-btn icon-login">
          <ion-icon name="person-outline"></ion-icon>




          <ul class=" fs-4 shadow p-3 mb-5 bg-body rounded">
            <li class="hstack gap-3 fs-4 log">
              <div><a th:href="@{/login}">Sign in</a></div>
              <div class="vr"></div>
              <div><a th:href="@{/register}">Sign up</a></div>
            </li>
            <div class="info-customer">
              <li><a th:href="@{/profile}"><i class="ri-user-line"></i> My Account</a>
              <li><a th:href="@{/orders}"><i class="ri-inbox-archive-line"></i> My Orders</a></li>
              <li><a th:href="@{contact.html}"><i class="ri-message-2-line"></i> Contact Admin</a></li>
              <li><a th:href="@{/invoices}"><i class="ri-message-2-line"></i> My invoices</a></li>
            </div>
          </ul>
        </button>



        <button class="action-btn">
          <a href="#"><ion-icon name="heart-outline"></ion-icon>
            <span class="count">0</span></a>
        </button>

        <button class="action-btn">
          <a th:href="@{/cart}"><ion-icon name="bag-handle-outline"></ion-icon>
            <span class="count" th:text="${session.totalItems == null} ? '0' : ${session.totalItems}"></span></a>
        </button>

      </div>

    </div>

  </div>

  <!-- desktop-navigation-menu categoty   -->
  <nav class="desktop-navigation-menu">

    <div class="container">

      <ul class="desktop-menu-category-list">

        <li class="menu-category">
          <a href="#" class="menu-title" th:href="@{/menu}">Home</a>
        </li>


        <li class="menu-category">
          <a href="#" class="menu-title">Categories</a>

          <div class="dropdown-panel">
            <!--
              - furst col in categories
             -->

            <ul class="dropdown-panel-list">

              <li class="menu-title panel-list-item">
                <a href="#">Dresses</a>
              </li>

              <li class="panel-list-item">
                <a href="#">
                  <img th:src="@{/images/categories-1.jpg}" alt="categories-1" width="250"
                       height="119">
                </a>
              </li>

            </ul>
            <!--
              - second col in categories
             -->
            <ul class="dropdown-panel-list">

              <li class="menu-title panel-list-item">
                <a href="#">Shoes</a>
              </li>

              <li class="panel-list-item">
                <a href="#">
                  <img th:src="@{/images/categories-2.jpg}" alt="categories-2" width="250" height="119">
                </a>
              </li>

            </ul>
            <!--
              - 3rd col in categories
             -->
            <ul class="dropdown-panel-list">

              <li class="menu-title panel-list-item">
                <a href="#">Sportswear</a>
              </li>

              <li class="panel-list-item">
                <a href="#">
                  <img th:src="@{/images/categories-3.jpg}" alt="categories-3" width="250" height="119">
                </a>
              </li>

            </ul>
            <!--
              - 4rd col in categories
            -->
            <ul class="dropdown-panel-list">

              <li class="menu-title panel-list-item">
                <a href="#">Jeans</a>
              </li>

              <li class="panel-list-item">
                <a href="#">
                  <img th:src="@{/images/categories-4.jpg}" alt="categories-4" width="250" height="119">
                </a>
              </li>

            </ul>

          </div>
        </li>



        <li class="menu-category">
          <a href="#" class="menu-title">Hot Offers</a>
        </li>

      </ul>

    </div>

  </nav>




  <!--    mode mobile caregory   -->

  <div class="mobile-bottom-navigation">
    <!--    bar's mode mobile    -->
    <button class="action-btn" data-mobile-menu-open-btn>
      <ion-icon name="menu-outline"></ion-icon>
    </button>

    <button class="action-btn">
      <a th:href="@{/cart}"><ion-icon name="bag-handle-outline"></ion-icon>
        <span class="count" th:text="${session.totalItems == null} ? '0' : ${session.totalItems}"></span></a>
    </button>

    <button class="action-btn">
      <ion-icon name="home-outline"></ion-icon>
    </button>

    <button class="action-btn">
      <ion-icon name="heart-outline"></ion-icon>

      <span class="count">0</span>
    </button>

    <button class="action-btn" data-mobile-menu-open-btn>
      <ion-icon name="grid-outline"></ion-icon>
    </button>

  </div>

  <!--    in menu icon mobile    -->
  <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>
    <!--    menu (mobile)    -->
    <div class="menu-top">
      <h2 class="menu-title">Menu</h2>

      <button class="menu-close-btn" data-mobile-menu-close-btn>
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>


    <ul class="mobile-menu-category-list" th:each="category:${categories}">
      <!--    home (mobile)    -->


      <!--    Dresses (mobile)    -->
      <li class="menu-category">

        <button class="accordion-menu" data-accordion-btn>
          <a  th:href="@{/find-products/{id}(id=${category.id})}" ><p class="menu-title" th:text="${category.name}"></p></a>
        </button>


      </li>

      <!--     shoes(mobile)    -->


    </ul>

    <!--     languages(mobile)    -->
    <div class="menu-bottom">

      <ul class="menu-category-list">

        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">Language</p>

            <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
          </button>

          <ul class="submenu-category-list" data-accordion>

            <li class="submenu-category">
              <a href="#" class="submenu-title">English</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Espa&ntilde;ol</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Fren&ccedil;h</a>
            </li>

          </ul>

        </li>

        <!--     currenct=payment(mobile)    -->
        <li class="menu-category">
          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">Currency</p>
            <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
          </button>

          <ul class="submenu-category-list" data-accordion>
            <li class="submenu-category">
              <a href="#" class="submenu-title">USD &dollar;</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">EUR &euro;</a>
            </li>
          </ul>
        </li>

      </ul>

      <!--     menu social media(mobile)    -->
      <ul class="menu-social-container">

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>

      </ul>

    </div>

  </nav>

</header>





<!--
  - MAIN
-->

<main>

  <!--
    - BANNER
  -->



  <!--
    - PRODUCT
  -->

  <div class="product-container">

    <div class="container">


      <!--
        - SIDEBAR
      -->

      <div class="" data-mobile-menu>
        <div class="">
          <div class="">
            <button class="" data-mobile-menu-close-btn>
            </button>
          </div>
        </div>
      </div>












    </div>

  </div>


  <section style="background-color:white;">
    <div class="container ">
      <h2 class="title">Customer Informations</h2>

      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4 shadow">
            <div class="card-body text-center justify-content-center align-self-center">
              <img th:src="@{/photo/74472.png}" alt="avatar"
                   class="rounded-circle container img-fluid justify-content-center" style="width:190px;  ">
              <h5 class="my-3" th:text="${session.userName}"></h5>
              <p class="text-muted mb-1">Customer</p>
              <p class="text-muted mb-4">Welcome,Our SHOPELECTRO Customer</p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" style="color: white; background-color: hsl(166, 30%, 63%); border-color: hsl(166, 30%, 63%);" class="btn btn-outline-primary ms-1">Message</button>
              </div>
            </div>
          </div>

        </div>



        <div class="col-lg-8">
          <div class="card mb-4 shadow">
            <form th:action="@{/update-profile}" method="post" name="signupForm" id="signupForm" th:object="${customer}">
              <div class="card-body">
                <br>
                <div class="row">
                  <div class="col-sm-4">
                    <p class="mb-0" style="padding-top: 5px;">First Name</p>
                  </div>
                  <div class="col-sm-8">
                    <input type="text" placeholder="Apply your Firs name"  class="form-control border-2 text-muted mb-0"
                           th:field="*{firstName}" name="firstName" readonly
                    >
                  </div>
                </div><br>
                <div class="alert alert-warning"
                     th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                </br>
                <div class="row">
                  <div class="col-sm-4">
                    <p class="mb-0" style="padding-top: 5px;">Last name</p>
                  </div>
                  <div class="col-sm-8">
                    <input type="text" placeholder="Apply Last Name"  class="form-control border-2 text-muted mb-0"
                           th:field="*{lastName}"
                           name="lastname" readonly
                    >
                  </div>
                </div><br>
                <div class="alert alert-warning"
                     th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" ></div>
                </br>
                <div class="row">
                  <div class="col-sm-4">
                    <p class="mb-0" style="padding-top: 5px;">Email</p>
                  </div>
                  <div class="col-sm-8">
                    <input type="email" placeholder="Apply your email"  class="form-control border-2 text-muted mb-0"
                           th:field="*{username}"
                           id="username" name="username" readonly>
                  </div>
                </div><br><br>
                <div class="row">
                  <div class="col-sm-4">
                    <p class="mb-0" style="padding-top: 5px;">Phone Number</p>
                  </div>
                  <div class="col-sm-8">
                    <input type="number" th:field="*{phoneNumber}"
                           th:placeholder="${customer.phoneNumber != null} ? ${customer.phoneNumber} : 'Enter your phone number'"
                           id="phoneNumber" name="phonenumber" maxlength="13" minlength="10"  class="form-control border-2 text-muted mb-0">
                  </div></div><br><br>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0" style="padding-top: 5px;">City</p>
                    </div>
                  <div class="col-sm-8">
                    <input type="text" th:field="*{city}"
                           th:placeholder="${customer.city != null} ? ${customer.city} : 'Enter your city'"
                           name="city" class="form-control border-2 text-muted mb-0">
                  </div>
                  </div><br><br>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0" style="padding-top: 5px;">Address</p>
                    </div>
                  <div class="col-sm-8">
                    <input type="text" th:field="*{address}"
                           th:placeholder="${customer.address != null} ? ${customer.address} : 'Enter your address'"
                           name="address" class="form-control border-2 text-muted mb-0">
                  </div>


                </div><br>
                <div class="d-flex justify-content-center mb-2" style="gap: 10px; padding-left: 100px;">
                  <button type="submit" style="padding-left: 20px; padding-right: 20px; color: white; background-color: hsl(166, 30%, 63%); border-color: hsl(166, 30%, 63%);" class="btn btn-outline-primary ms-1">Update</button>
                  <a th:href="@{/change-password}"><button type="button" style="color: white; background-color: hsl(166, 30%, 63%); border-color: hsl(166, 30%, 63%);" class="btn btn-outline-primary ms-1">Change Password</button></a>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4 shadow">
            <div class="card-body text-center">

              <div>
                <button class="border rounded-circle container" style="width: 100px;  height: 100px; background-color: hsl(166, 30%, 63%); "><i style="font-size: 50px; color: white;" class="ri-inbox-archive-line"></i></button>
              </div>
              <div>
                <p><a class="p-1" style="color: black;" href="#">Your Orders</a></p>
                <p class="text-muted">Track return or buy things sgain</p>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-4">
          <div class="card mb-4 shadow">
            <div class="card-body text-center">

              <div>
                <button class="border rounded-circle container" style="width: 100px; height: 100px; background-color: hsl(166, 30%, 63%);"><i style="font-size: 50px;color: white; "  class="ri-lock-2-line"></i></button>
              </div>
              <div>
                <p><a class="p-1" style="color: black;" href="{#">Your Orders</a></p>
                <p class="text-muted">Track return or buy things sgain</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-4 shadow">
            <div class="card-body text-center">

              <div>
                <button class="border container rounded-circle" style="width: 100px; height: 100px; background-color: hsl(166, 30%, 63%);"><i style="font-size: 50px; color: white; " class="ri-message-2-line"></i></button>
              </div>
              <div>
                <p><a class="p-1" style="color: black;" href="#">Your Orders</a></p>
                <p class="text-muted">Track return or buy things sgain</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>



  <!--
    - TESTIMONIALS, CTA & SERVICE
  -->

  <div>

    <div class="container">

      <div class="testimonials-box">
        <!--
          - SERVICE
        -->

        <div class="service">

          <h2 class="title">Our Services</h2>

          <div class="service-container">


            <a href="{#" class="service-item">

              <div class="service-icon">
                <ion-icon name="rocket-outline"></ion-icon>
              </div>

              <div class="service-content">

                <h3 class="service-title">Next Day delivery</h3>
                <p class="service-desc">MOROCCO Orders Only</p>

              </div>

            </a>

            <a href="{#" class="service-item">

              <div class="service-icon">
                <ion-icon name="call-outline"></ion-icon>
              </div>

              <div class="service-content">

                <h3 class="service-title">Best Online Support</h3>
                <p class="service-desc">Hours: 8AM - 11PM</p>

              </div>

            </a>

            <a href="{#" class="service-item">

              <div class="service-icon">
                <ion-icon name="arrow-undo-outline"></ion-icon>
              </div>

              <div class="service-content">

                <h3 class="service-title">Return Policy</h3>
                <p class="service-desc">Easy & Free Return</p>

              </div>

            </a>

            <a href="{#" class="service-item">

              <div class="service-icon">
                <ion-icon name="ticket-outline"></ion-icon>
              </div>

              <div class="service-content">

                <h3 class="service-title">30% money back</h3>
                <p class="service-desc">For Order Over $100</p>

              </div>

            </a>

          </div>

        </div>

      </div>

    </div>

  </div>





</main>







<!--
  - FOOTER
-->

<footer>

  <div class="footer-category">

    <div class="container">

      <h2 class="footer-category-title">Brand directory</h2>

      <div class="footer-category-box">

        <h3 class="category-box-title">Fashion :</h3>

        <a href="{#" class="footer-category-link">T-shirt</a>
        <a href="{#" class="footer-category-link">Shirts</a>
        <a href="{#" class="footer-category-link">shorts & jeans</a>
        <a href="{#" class="footer-category-link">jacket</a>
        <a href="{#" class="footer-category-link">dress & frock</a>
        <a href="{#" class="footer-category-link">innerwear</a>
        <a href="{#" class="footer-category-link">hosiery</a>

      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">footwear :</h3>

        <a href="{#" class="footer-category-link">sport</a>
        <a href="{#" class="footer-category-link">formal</a>
        <a href="{#" class="footer-category-link">Boots</a>
        <a href="{#" class="footer-category-link">casual</a>
        <a href="{#" class="footer-category-link">cowboy shoes</a>
        <a href="{#" class="footer-category-link">safety shoes</a>
        <a href="{#" class="footer-category-link">Party wear shoes</a>
        <a href="{#" class="footer-category-link">Branded</a>
        <a href="{#" class="footer-category-link">Firstcopy</a>
        <a href="{#" class="footer-category-link">Long shoes</a>
      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">jewellery :</h3>

        <a href="{#" class="footer-category-link">Necklace</a>
        <a href="{#" class="footer-category-link">Earrings</a>
        <a href="{#" class="footer-category-link">Couple rings</a>
        <a href="{#" class="footer-category-link">Pendants</a>
        <a href="{#" class="footer-category-link">Crystal</a>
        <a href="{#" class="footer-category-link">Bangles</a>
        <a href="{#" class="footer-category-link">bracelets</a>
        <a href="{#" class="footer-category-link">nosepin</a>
        <a href="{#" class="footer-category-link">chain</a>
        <a href="{#" class="footer-category-link">Earrings</a>
        <a href="{#" class="footer-category-link">Couple rings</a>
      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">cosmetics :</h3>

        <a href="{#" class="footer-category-link">Shampoo</a>
        <a href="{#" class="footer-category-link">Bodywash</a>
        <a href="{#" class="footer-category-link">Facewash</a>
        <a href="{#" class="footer-category-link">makeup kit</a>
        <a href="{#" class="footer-category-link">liner</a>
        <a href="{#" class="footer-category-link">lipstick</a>
        <a href="{#" class="footer-category-link">prefume</a>
        <a href="{#" class="footer-category-link">Body soap</a>
        <a href="{#" class="footer-category-link">scrub</a>
        <a href="{#" class="footer-category-link">hair gel</a>
        <a href="{#" class="footer-category-link">hair colors</a>
        <a href="{#" class="footer-category-link">hair dye</a>
        <a href="{#" class="footer-category-link">sunscreen</a>
        <a href="{#" class="footer-category-link">skin loson</a>
        <a href="{#" class="footer-category-link">liner</a>
        <a href="{#" class="footer-category-link">lipstick</a>
      </div>

    </div>

  </div>

  <div class="footer-nav">

    <div class="container">

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Popular Categories</h2>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">Dresses</a>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">Sheos</a>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">Sportswear</a>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">Jeans</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Products</h2>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">Prices drop</a>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">New products</a>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">Best sales</a>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">Contact us</a>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">Sitemap</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Our Company</h2>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">Delivery</a>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">Legal Notice</a>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">Terms and conditions</a>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">About us</a>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">Secure payment</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Services</h2>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">Prices drop</a>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">New products</a>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">Best sales</a>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">Contact us</a>
        </li>

        <li class="footer-nav-item">
          <a href="{#" class="footer-nav-link">Sitemap</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Contact</h2>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="location-outline"></ion-icon>
          </div>

          <address class="content">
            419 el-madina, tetouan, 92000, MOROCCO
          </address>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="call-outline"></ion-icon>
          </div>

          <a href="{tel:+607936-8058" class="footer-nav-link">+2126 66 00 11 55</a>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <a href="{mailto:example@gmail.com" class="footer-nav-link">Fashop@gmail.com</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Follow Us</h2>
        </li>

        <li>
          <ul class="social-link">

            <li class="footer-nav-item">
              <a href="{#" class="footer-nav-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="{#" class="footer-nav-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="{#" class="footer-nav-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="{#" class="footer-nav-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

          </ul>
        </li>

      </ul>

    </div>

  </div>

  <div class="footer-bottom">

    <div class="container">

      <img th:src="@{/images/payment.png}" alt="payment method" class="payment-img">

      <p class="copyright">
        Copyright &copy; <a href="{#">Fashop</a> all rights reserved.
      </p>

    </div>

  </div>

</footer>













<!--
  - custom js link
-->
<script th:src="@{/js/script.js}"></script>

<!--
  - ionicon link
-->
<script type="module" th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js}"></script>
<script nomodule th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>

</body>

</html>