<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHOPELECTRO - eCommerce Website</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" style="width:100px; height:80px; " th:href="@{/images/logo/logo_food-removebg-preview.png}" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link  th:href="@{css/style-prefix.css}" rel="stylesheet">

  <!--
    - google font link
  -->
  <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
  <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
  <link th:href="@{https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap}"
        rel="stylesheet">
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css}" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
  <link th:href="@{https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css}" rel="stylesheet">
  <!-- Bootstrap CSS -->

  <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">



</head>

<body>
<style>
a{
  text-decoration: none;

}
.header-main .container .header-user-actions .log{
  color: gray;


}



</style>



<div class="overlay" data-overlay></div>






<!--
  - MODAL
-->

<div class="modal" data-modal>

  <div class="modal-close-overlay" data-modal-overlay></div>

  <div class="modal-content">

    <button class="modal-close-btn" data-modal-close>
    </button>
  </div>

</div>











<!--
  - NOTIFICATION TOAST
-->

<div class="notification-toast" data-toast>

  <button class="toast-close-btn" data-toast-close>
    <ion-icon name="close-outline"></ion-icon>
  </button>

  <div class="toast-banner">
    <img th:src="@{/photo/images (2).jfif}" alt="humberger" width="80" height="70">
  </div>

  <div class="toast-detail">

    <p class="toast-message">
      Someone in new just bought
    </p>

    <p class="toast-title">
      AirPods Max
    </p>

    <p class="toast-meta">
      <time datetime="PT2M">2 Minutes</time> ago
    </p>

  </div>

</div>





<!--
  - HEADER
-->

<header>

  <div class="header-top">

    <div class="container">

      <ul class="header-social-container">

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>
      </ul>

      <div class="header-alert-news">
        <p>
          <b>Free Shipping</b>
          This Week Order Over - @55
        </p>
      </div>

      <div class="header-top-actions">

        <select name="currency">

          <option value="usd">USD &dollar;</option>
          <option value="eur">EUR &euro;</option>

        </select>

        <select name="language">

          <option value="en-US">English</option>
          <option value="es-ES">Espa&ntilde;ol</option>
          <option value="fr">Fran&ccedil;ais</option>

        </select>

      </div>

    </div>

  </div>

  <div class="header-main">

    <div class="container">

      <a href="#" class="header-logo">
        <img th:src="@{/photo/logo/logo-removebg-preview.png}" width="110" height="110">
      </a>
      <span id="logo-web" >SHOPELECTRO</span>
      <div class="header-search-container">

        <input type="search" name="search" class="search-field" placeholder="Enter your product name...">

        <button class="search-btn">
          <ion-icon name="search-outline"></ion-icon>
        </button>

      </div>




      <div class="header-user-actions">

        <button class="action-btn icon-login">
          <ion-icon name="person-outline"></ion-icon>




          <ul class=" fs-4 shadow p-3 mb-5 bg-body rounded">
            <li class="hstack gap-3 fs-4 log">
              <div><a th:href="@{/login}">Sign in</a></div>
              <div class="vr"></div>
              <div><a th:href="@{/register}">Sign up</a></div>
            </li>
            <div class="info-customer">
              <li><a th:href="@{/profile}"><i class="ri-user-line"></i> My Account</a>
              <li><a th:href="@{/orders}"><i class="ri-inbox-archive-line"></i> My Orders</a></li>
              <li><a th:href="@{contact.html}"><i class="ri-message-2-line"></i> Contact Admin</a></li>
              <li><a th:href="@{/invoices}"><i class="ri-message-2-line"></i> My invoices</a></li>
            </div>
          </ul>
        </button>



        <button class="action-btn">
          <a href="#"><ion-icon name="heart-outline"></ion-icon>
            <span class="count">0</span></a>
        </button>

        <button class="action-btn">
          <a th:href="@{/cart}"><ion-icon name="bag-handle-outline"></ion-icon>
            <span class="count" th:text="${session.totalItems == null} ? '0' : ${session.totalItems}"></span></a>
        </button>

      </div>

    </div>

  </div>

  <!-- desktop-navigation-menu categoty   -->
  <nav class="desktop-navigation-menu">

    <div class="container">

      <ul class="desktop-menu-category-list">

        <li class="menu-category">
          <a href="#" class="menu-title">Home</a>
        </li>


        <li class="menu-category">
          <a href="#" class="menu-title">Categories</a>

          <div class="dropdown-panel">
            <!--
              - furst col in categories
             -->

            <ul class="dropdown-panel-list">

              <li class="menu-title panel-list-item">
                <a href="#">Dresses</a>
              </li>

              <li class="panel-list-item">
                <a href="#">
                  <img th:src="@{/images/categories-1.jpg}" alt="categories-1" width="250"
                       height="119">
                </a>
              </li>

            </ul>
            <!--
              - second col in categories
             -->
            <ul class="dropdown-panel-list">

              <li class="menu-title panel-list-item">
                <a href="#">Shoes</a>
              </li>

              <li class="panel-list-item">
                <a href="#">
                  <img th:src="@{/images/categories-2.jpg}" alt="categories-2" width="250" height="119">
                </a>
              </li>

            </ul>
            <!--
              - 3rd col in categories
             -->
            <ul class="dropdown-panel-list">

              <li class="menu-title panel-list-item">
                <a href="#">Sportswear</a>
              </li>

              <li class="panel-list-item">
                <a href="#">
                  <img th:src="@{/images/categories-3.jpg}" alt="categories-3" width="250" height="119">
                </a>
              </li>

            </ul>
            <!--
              - 4rd col in categories
            -->
            <ul class="dropdown-panel-list">

              <li class="menu-title panel-list-item">
                <a href="#">Jeans</a>
              </li>

              <li class="panel-list-item">
                <a href="#">
                  <img th:src="@{/images/categories-4.jpg}" alt="categories-4" width="250" height="119">
                </a>
              </li>

            </ul>

          </div>
        </li>



        <li class="menu-category">
          <a href="#" class="menu-title">Hot Offers</a>
        </li>

      </ul>

    </div>

  </nav>






  <!--    mode mobile caregory   -->

  <div class="mobile-bottom-navigation">
    <!--    bar's mode mobile    -->
    <button class="action-btn" data-mobile-menu-open-btn>
      <ion-icon name="menu-outline"></ion-icon>
    </button>

    <button class="action-btn">
      <a th:href="@{/cart}"> <ion-icon name="bag-handle-outline"></ion-icon></a>
      <span class="count"  th:text="${session.totalItems == null} ? '0' : ${session.totalItems}"></span>
    </button>

    <button class="action-btn">
      <ion-icon name="home-outline"></ion-icon>
    </button>

    <button class="action-btn">
      <ion-icon name="heart-outline"></ion-icon>

      <span class="count">0</span>
    </button>


  </div>

  <!--    in menu icon mobile    -->
  <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>
    <!--    menu (mobile)    -->
    <div class="menu-top">
      <h2 class="menu-title">Menu</h2>

      <button class="menu-close-btn" data-mobile-menu-close-btn>
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>


    <ul class="mobile-menu-category-list" th:each="category:${categories}">
      <!--    home (mobile)    -->


      <!--    Dresses (mobile)    -->
      <li class="menu-category">

        <button class="accordion-menu" data-accordion-btn>
          <a  th:href="@{/find-products/{id}(id=${category.id})}" ><p class="menu-title" th:text="${category.name}"></p></a>
        </button>


      </li>

      <!--     shoes(mobile)    -->


    </ul>

    <!--     languages(mobile)    -->
    <div class="menu-bottom">

      <ul class="menu-category-list">

        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">Language</p>

            <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
          </button>

          <ul class="submenu-category-list" data-accordion>

            <li class="submenu-category">
              <a href="#" class="submenu-title">English</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Espa&ntilde;ol</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Fren&ccedil;h</a>
            </li>

          </ul>

        </li>

        <!--     currenct=payment(mobile)    -->
        <li class="menu-category">
          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">Currency</p>
            <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
          </button>

          <ul class="submenu-category-list" data-accordion>
            <li class="submenu-category">
              <a href="#" class="submenu-title">MAD</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">EUR &euro;</a>
            </li>
          </ul>
        </li>

      </ul>

      <!--     menu social media(mobile)    -->
      <ul class="menu-social-container">

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>

      </ul>

    </div>

  </nav>

</header>





<!--
  - MAIN
-->

<main>

  <!--
    - BANNER
  -->



  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img th:src="@{/photo/A1.jpg}" class="d-block w-100 c-img" alt="show-1">
        <div class="carousel-caption d-none d-md-block">

        </div>
      </div>
      <div class="carousel-item c-item">
        <img th:src="@{/photo/b.webp}" class="d-block w-100 c-img" alt="show-2">
        <div class="carousel-caption d-none d-md-block">

        </div>
      </div>
      <div class="carousel-item c-item">
        <img th:src="@{/photo/a.jpg}" class="d-block w-100 c-img" alt="show-5">
        <div class="carousel-caption d-none d-md-block">

        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!--
    - PRODUCT
  -->

  <div class="product-container">

    <div class="container">


      <!--
        - SIDEBA-->


      <div class="sidebar  has-scrollbar" data-mobile-menu>

        <div class="sidebar-category">

          <div class="sidebar-top" >
            <h2 class="sidebar-title" style="color:hsl(166, 30%, 63%); padding:25px" >Category</h2>

            <button class="sidebar-close-btn" data-mobile-menu-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>
          </div>

          <ul class="sidebar-menu-category-list" th:each="category: ${categories}" >



              <button class="sidebar-accordion-menu" data-accordion-btn>

                <div class="menu-title-flex">
                  <!--<img th:src="@{/images/icons/dress.png}" alt="clothes" width="20" height="20"
                       class="menu-title-img">-->

                  <a style="color:  rgb(146, 146, 146); margin-bottom:-10px;" th:href="@{/find-products/{id}(id=${category.id})}"><p class="txt-center" th:text="${category.name}"></p></a>
                </div>

              </button>


            <!--   Footwear's category    -->



          </ul>

        </div>

        <!--
           - Best Sellers
         -->

        <div class="product-showcase">

          <h3 class="showcase-heading">best sellers</h3>

          <div class="showcase-wrapper">

            <div class="showcase-container">

              <div class="showcase d-flex">

                <a href="#" class="showcase-img-box">
                  <img th:src="@{/photo/apple-iphone-14-plus-128gb--nbspmidnight.jpg}" alt="baby fabric shoes" width="75" height="75"
                       class="showcase-img">
                </a>

                <div class="showcase-content">

                  <a href="#">
                    <h4 class="showcase-title">iphone 14 pro max</h4>
                  </a>

                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>

                  <div class="price-box">

                    <p class="price text-start">7800.00 MAD</p>
                  </div>

                </div>

              </div>
              <div class="showcase">

                <a href="#" class="showcase-img-box">
                  <img th:src="@{/photo/watch-card-40-ultra-202209_FMT_WHH.png}" alt="men's hoodies t-shirt" class="showcase-img"
                       width="75" height="75">
                </a>

                <div class="showcase-content">

                  <a href="#">
                    <h4 class="showcase-title">watch</h4>
                  </a>
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-half-outline"></ion-icon>
                  </div>

                  <div class="price-box">

                    <p class="price">150 MAD</p>
                  </div>

                </div>

              </div>

              <div class="showcase">

                <a href="#" class="showcase-img-box">
                  <img th:src="@{/photo/images (5).jfif}" alt="girls t-shirt" class="showcase-img" width="75"
                       height="75">
                </a>

                <div class="showcase-content">

                  <a href="#">
                    <h4 class="showcase-title">samsung galaxy A34</h4>
                  </a>
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-half-outline"></ion-icon>
                  </div>

                  <div class="price-box">

                    <p class="price">6000.00 MAD</p>
                  </div>

                </div>

              </div>

              <div class="showcase">

                <a href="#" class="showcase-img-box">
                  <img th:src="@{/photo/images (3).jfif}" alt="woolen hat for men" class="showcase-img" width="75"
                       height="75">
                </a>

                <div class="showcase-content">

                  <a href="#">
                    <h4 class="showcase-title">Bluetooth headphones</h4>
                  </a>
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>

                  <div class="price-box">

                    <p class="price">300.00 MAD</p>
                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>








      <!-- - PRODUCT MINIMAL   -->
      <div class="product-box">

        <!--
          - PRODUCT MINIMAL
        -->


        <div class="row row-cols-2 row-cols-md-3 g-4">

          <div class="col">
            <div class="card text-center">
              <img th:src="@{/photo/c3.jpg}" class="card-img-top" height="250px">
              <div class="card-body">
                <h5 class="card-title">Top of the Watches</h5>
                <a href="#" class="btn btn-primary">SHOP Now</a>
              </div>
            </div>
          </div>



          <div class="col">
            <div class="card text-center">
              <img th:src="@{/photo/c1.jpg}" class="card-img-top"  height="250px">
              <div class="card-body">
                <h5 class="card-title">All type Headphone</h5>
                <a href="#" class="btn btn-primary">SHOP Now</a>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card text-center">
              <img th:src="@{/photo/w.jpeg}" class="card-img-top"  height="250px">
              <div class="card-body">
                <h5 class="card-title">All Brand of phone</h5>
                <a href="#" class="btn btn-primary">SHOP Now</a>
              </div>
            </div>
          </div>



        </div>


        <!--
          - PRODUCT GRID
        -->

        <div class="product-main">
          <br>

          <h2 class="title">New Products</h2>

          <div class="product-grid">

            <div class="showcase">

              <div class="showcase-banner">

                <img th:src="@{/photo/images (4).jfif}"
                     class="product-img default" width="300" >
                <img th:src="@{/photo/images (4).jfif}"
                     class="product-img hover" width="300" >

                <p class="showcase-badge">15%</p>

                <div class="showcase-actions">


                  <button class="btn-action">
                    <ion-icon name="eye-outline"></ion-icon>
                  </button>


                  <button class="btn-action">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </button>

                </div>

              </div>

              <div class="showcase-content">

                <a href="#" class="showcase-category">Iphone 14 Pro Max</a>

                <a href="#">
                  <h3 class="showcase-title">Apple iPhone 14 Pro Max 128GB White Intense 6,7" Deep Purple 6Gb RAM Dynamic Island</h3>
                </a>

                <div class="showcase-rating">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>

                <div class="price-box">
                  <p class="price">8000.00 MAD</p>

                </div>

              </div>

            </div>

            <div class="showcase">

              <div class="showcase-banner">
                <img th:src="@{/photo/watch.jfif}" alt="Pure Garment Dyed Cotton Shirt" class="product-img default"
                     width="300">
                <img th:src="@{/photo/watch.jfif}" alt="Pure Garment Dyed Cotton Shirt" class="product-img hover"
                     width="300">

                <p class="showcase-badge angle black">sale</p>

                <div class="showcase-actions">

                  <button class="btn-action">
                    <ion-icon name="eye-outline"></ion-icon>
                  </button>



                  <button class="btn-action">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </button>
                </div>
              </div>

              <div class="showcase-content">
                <a href="#" class="showcase-category">gold watch</a>

                <h3>
                  <a href="#" class="showcase-title">Unisex LED Digital Watch for Men and Women, Military Sports Bracelet Watches, Electronic, Gold.</a>
                </h3>

                <div class="showcase-rating">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>

                <div class="price-box">
                  <p class="price">120.00 MAD</p>

                </div>

              </div>

            </div>

            <div class="showcase">

              <div class="showcase-banner">
                <img th:src="@{/photo/samsung.jpg}" alt="Mens Winter Leathers Jackets" class="product-img default"
                     width="300">
                <img th:src="@{/photo/samsung.jpg}" alt="Mens Winter Leathers Jackets" class="product-img hover"
                     width="300">


                <div class="showcase-actions">


                  <button class="btn-action">
                    <ion-icon name="eye-outline"></ion-icon>
                  </button>



                  <button class="btn-action">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </button>
                </div>
              </div>

              <div class="showcase-content">
                <a href="#" class="showcase-category">Galaxy Tab s8 Ultra</a>

                <h3>
                  <a href="#" class="showcase-title">Samsung Galaxy Tab S8 Ultra SM-T900 256GB 14.6" Tablet (Fast Shipping) Dark Gray Document-mn Design-Tourists Camera.</a>
                </h3>

                <div class="showcase-rating">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>

                <div class="price-box">
                  <p class="price">7500.00 MAD</p>

                </div>

              </div>

            </div>

            <div class="showcase">

              <div class="showcase-banner">
                <img th:src="@{/photo/pop-keys-go-mad-mechanical-cosmo-2.webp}" alt="Black Floral Wrap Midi Skirt" class="product-img default"
                     width="300">
                <img th:src="@{/photo/pop-keys-go-mad-mechanical-cosmo-2.webp}" alt="Black Floral Wrap Midi Skirt" class="product-img hover"
                     width="300">

                <p class="showcase-badge angle pink">new</p>

                <div class="showcase-actions">

                  <button class="btn-action">
                    <ion-icon name="eye-outline"></ion-icon>
                  </button>



                  <button class="btn-action">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </button>
                </div>
              </div>

              <div class="showcase-content">
                <a href="#" class="showcase-category">Purple keybord</a>

                <h3>
                  <a href="#" class="showcase-title">Mini Purple Keyboard 4.2 Wireless, Compact, Bluetooth, Retro4.2 HTML, USB-C, Metal Construction, Compatible with iMac, iPad</a>
                </h3>

                <div class="showcase-rating">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>

                <div class="price-box">
                  <p class="price">150.00 MAD</p>

                </div>

              </div>

            </div>

            <div class="showcase">

              <div class="showcase-banner">
                <img th:src="@{/photo/usbphonechargers-2048px-278.jpg}" alt="Casual Men's Brown shoes" class="product-img default"
                     width="300">
                <img th:src="@{/photo/usbphonechargers-2048px-278.jpg}" alt="Casual Men's Brown shoes" class="product-img hover"
                     width="300">

                <div class="showcase-actions">


                  <button class="btn-action">
                    <ion-icon name="eye-outline"></ion-icon>
                  </button>


                  <button class="btn-action">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </button>
                </div>
              </div>

              <div class="showcase-content">
                <a href="#" class="showcase-category">phone charger</a>

                <h3>
                  <a href="#" class="showcase-title">Portable phone charger for iPhone Samsung Huawei iOS Android, 1 port, white, travel wall charger.</a>
                </h3>

                <div class="showcase-rating">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>

                <div class="price-box">
                  <p class="price">15.00 MAD</p>

                </div>

              </div>

            </div>

            <div class="showcase">

              <div class="showcase-banner">
                <img th:src="@{/photo/221025084043-ipad-10th-gen-review-cnnu-6.jpg}" alt="Pocket Watch Leather Pouch" class="product-img default"
                     width="300">
                <img th:src="@{/photo/221025084043-ipad-10th-gen-review-cnnu-6.jpg}" alt="Pocket Watch Leather Pouch" class="product-img hover"
                     width="300">

                <p class="showcase-badge angle black">sale</p>

                <div class="showcase-actions">


                  <button class="btn-action">
                    <ion-icon name="eye-outline"></ion-icon>
                  </button>


                  <button class="btn-action">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </button>
                </div>
              </div>

              <div class="showcase-content">
                <a href="#" class="showcase-category">Ipad mini 6</a>

                <h3>
                  <a href="#" class="showcase-title">2021 Apple iPad Mini 6 (8.3 inch, Wi-Fi, 64GB) Bleu (Renewed).</a>
                </h3>

                <div class="showcase-rating">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>

                <div class="price-box">
                  <p class="price">13.00 MAD</p>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>



    </div>

  </div>





  <!--
    - TESTIMONIALS, CTA & SERVICE
  -->

  <div>

    <div class="container">

      <div class="testimonials-box">

        <!--
          - TESTIMONIALS
        -->

        <div class="testimonial">

          <h2 class="title">testimonial</h2>

          <div class="testimonial-card">

            <img th:src="@{/photo/logo/logo-removebg-preview.png}" alt="alan doe" class="testimonial-banner" width="250" height="200">

            <p class="testimonial-name">SHOPELECTRO</p>

            <p class="testimonial-title">SHOPELECTRO Company</p>

            <p>------------------</p>

            <p class="testimonial-desc">
              Offers a wide selection of food and meals that can be easily purchased online and delivered straight to your complexe.
            </p>

          </div>

        </div>



        <!--
          - CTA
        -->

        <div class="cta-container">

          <img  style="width:600px; height:600px;" th:src="@{/photo/release-qlik-cta.jpg}" alt="" class="cta-banner">
          <a href="#" class="cta-content">

            <p class="discount">25% Discount</p>

            <h2 class="cta-title">SHOPELECTRO</h2>

            <p class="cta-text">Starting Now!</p>

            <button class="cta-btn">Shop now</button>

          </a>

        </div>



        <!--
          - SERVICE
        -->

        <div class="service">

          <h2 class="title">Our Services</h2>

          <div class="service-container">


            <a href="#" class="service-item">

              <div class="service-icon">
                <ion-icon name="rocket-outline"></ion-icon>
              </div>

              <div class="service-content">

                <h3 class="service-title">Next Day delivery</h3>
                <p class="service-desc">MOROCCO Orders Only</p>

              </div>

            </a>

            <a href="#" class="service-item">

              <div class="service-icon">
                <ion-icon name="call-outline"></ion-icon>
              </div>

              <div class="service-content">

                <h3 class="service-title">Best Online Support</h3>
                <p class="service-desc">Hours: 8AM - 11PM</p>

              </div>

            </a>

            <a href="#" class="service-item">

              <div class="service-icon">
                <ion-icon name="arrow-undo-outline"></ion-icon>
              </div>

              <div class="service-content">

                <h3 class="service-title">Return Policy</h3>
                <p class="service-desc">Easy & Free Return</p>

              </div>

            </a>

            <a href="#" class="service-item">

              <div class="service-icon">
                <ion-icon name="ticket-outline"></ion-icon>
              </div>

              <div class="service-content">

                <h3 class="service-title">30% money back</h3>
                <p class="service-desc">For Order Over @100</p>

              </div>

            </a>

          </div>

        </div>

      </div>

    </div>

  </div>





  <!--
    - BLOG
  -->

  <div class="blog">

    <div class="container">

      <div class="blog-container has-scrollbar">

        <div class="blog-card">

          <a href="#">
            <img th:src="@{/photo/26.jpg}" width="300" style="height:200px;" class="blog-banner">
          </a>

          <div class="blog-content">

            <a href="#" class="blog-category">Airpods Max</a>

            <a href="#">
              <h3 class="blog-title">All type of Airpoids.</h3>
            </a>

            <p class="blog-meta">
              By <cite>Mr Admin</cite> / <time datetime="2022-04-06">Apr 06, 2023</time>
            </p>

          </div>

        </div>

        <div class="blog-card">

          <a href="#">
            <img th:src="@{/photo/jj.jfif}"
                 class="blog-banner" width="300" style="height:200px;">
          </a>

          <div class="blog-content">

            <a href="#" class="blog-category">drinks</a>

            <h3>
              <a href="#" class="blog-title">Curbside fashion Trends: How to Win the Pickup Battle.</a>
            </h3>

            <p class="blog-meta">
              By <cite>Mr Robin</cite> / <time datetime="2022-01-18">Jan 18, 2022</time>
            </p>

          </div>

        </div>

        <div class="blog-card">

          <a href="#">
            <img th:src="@{/photo/raw.jfif}"
                 class="blog-banner" width="300" style="height:200px;">
          </a>

          <div class="blog-content">

            <a href="#" class="blog-category">meals</a>

            <h3>
              <a href="#" class="blog-title">EBT vendors: Claim Your Share of SNAP Online Revenue.</a>
            </h3>

            <p class="blog-meta">
              By <cite>Mr Selsa</cite> / <time datetime="2022-02-10">Feb 10, 2022</time>
            </p>

          </div>

        </div>

        <div class="blog-card">

          <a href="#">
            <img th:src="@{/photo/431374-640.jpg}"
                 class="blog-banner" width="300" style="height:200px;">
          </a>
          <div class="blog-content">

            <a href="#" class="blog-category">rolax</a>

            <h3>
              <a href="#" class="blog-title">Curbside fashion Trends: How to Win the Pickup Battle.</a>
            </h3>

            <p class="blog-meta">
              By <cite>Mr Pawar</cite> / <time datetime="2022-03-15">Mar 15, 2022</time>
            </p>

          </div>

        </div>

      </div>

    </div>

  </div>

</main>





<!--
  - FOOTER
-->

<footer>

  <div class="footer-category">

    <div class="container">

      <h2 class="footer-category-title">Brand directory</h2>

      <div class="footer-category-box">

        <h3 class="category-box-title">Fashion :</h3>

        <a href="#" class="footer-category-link">T-shirt</a>
        <a href="#" class="footer-category-link">Shirts</a>
        <a href="#" class="footer-category-link">shorts & jeans</a>
        <a href="#" class="footer-category-link">jacket</a>
        <a href="#" class="footer-category-link">dress & frock</a>
        <a href="#" class="footer-category-link">innerwear</a>
        <a href="#" class="footer-category-link">hosiery</a>

      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">footwear :</h3>

        <a href="#" class="footer-category-link">sport</a>
        <a href="#" class="footer-category-link">formal</a>
        <a href="#" class="footer-category-link">Boots</a>
        <a href="#" class="footer-category-link">casual</a>
        <a href="#" class="footer-category-link">cowboy shoes</a>
        <a href="#" class="footer-category-link">safety shoes</a>
        <a href="#" class="footer-category-link">Party wear shoes</a>
        <a href="#" class="footer-category-link">Branded</a>
        <a href="#" class="footer-category-link">Firstcopy</a>
        <a href="#" class="footer-category-link">Long shoes</a>
      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">jewellery :</h3>

        <a href="#" class="footer-category-link">Necklace</a>
        <a href="#" class="footer-category-link">Earrings</a>
        <a href="#" class="footer-category-link">Couple rings</a>
        <a href="#" class="footer-category-link">Pendants</a>
        <a href="#" class="footer-category-link">Crystal</a>
        <a href="#" class="footer-category-link">Bangles</a>
        <a href="#" class="footer-category-link">bracelets</a>
        <a href="#" class="footer-category-link">nosepin</a>
        <a href="#" class="footer-category-link">chain</a>
        <a href="#" class="footer-category-link">Earrings</a>
        <a href="#" class="footer-category-link">Couple rings</a>
      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">cosmetics :</h3>

        <a href="#" class="footer-category-link">Shampoo</a>
        <a href="#" class="footer-category-link">Bodywash</a>
        <a href="#" class="footer-category-link">Facewash</a>
        <a href="#" class="footer-category-link">makeup kit</a>
        <a href="#" class="footer-category-link">liner</a>
        <a href="#" class="footer-category-link">lipstick</a>
        <a href="#" class="footer-category-link">prefume</a>
        <a href="#" class="footer-category-link">Body soap</a>
        <a href="#" class="footer-category-link">scrub</a>
        <a href="#" class="footer-category-link">hair gel</a>
        <a href="#" class="footer-category-link">hair colors</a>
        <a href="#" class="footer-category-link">hair dye</a>
        <a href="#" class="footer-category-link">sunscreen</a>
        <a href="#" class="footer-category-link">skin loson</a>
        <a href="#" class="footer-category-link">liner</a>
        <a href="#" class="footer-category-link">lipstick</a>
      </div>

    </div>

  </div>

  <div class="footer-nav">

    <div class="container">

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Popular Categories</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Dresses</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Sheos</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Sportswear</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Jeans</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Products</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Prices drop</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">New products</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Best sales</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Contact us</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Sitemap</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Our Company</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Delivery</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Legal Notice</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Terms and conditions</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">About us</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Secure payment</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Services</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Prices drop</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">New products</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Best sales</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Contact us</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Sitemap</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Contact</h2>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="location-outline"></ion-icon>
          </div>

          <address class="content">
            419 el-madina, tetouan, 92000, MOROCCO
          </address>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="call-outline"></ion-icon>
          </div>

          <a th:href="@{tel:+607936-8058}" class="footer-nav-link">+2126 66 00 11 55</a>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <a th:href="@{mailto:example@gmail.com}" class="footer-nav-link">FS@gmail.com</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Follow Us</h2>
        </li>

        <li>
          <ul class="social-link">

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

          </ul>
        </li>

      </ul>

    </div>

  </div>

  <div class="footer-bottom">

    <div class="container">

      <img th:src="@{/images/payment.png}" alt="payment method" class="payment-img">

      <p class="copyright">
        Copyright &copy; <a href="#">SHOPELECTRO</a> all rights reserved.
      </p>

    </div>

  </div>

</footer>













<!--
  - custom js link
-->
<script th:src="@{/js/script.js}"></script>

<!--
  - ionicon link
-->
<script type="module" th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js}"></script>
<script nomodule th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>